/* Tribute Navbar */
.tribute-navbar {
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.tribute-navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.tribute-navbar a.icon {
    background-color: #000000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.tribute-navbar a:hover {
    color: white;
}

.active {
    background-color: #000000;
}

@media(max-width: 400px) {
    .tribute-navbar #tributeLinks{
        display: none;
    }
    .tribute-navbar a {
        display: block;
    }
}

@media(min-width: 401px) {
    .tribute-navbar a.icon {
        display: none;
    }

} 
